# pip install torch torchvision --index-url https://download.pytorch.org/whl/cu118
# pip install xformers --index-url https://download.pytorch.org/whl/cu118

einops
pandas
matplotlib
seaborn

# for WSL environment
#PyQt5

-e .
